.about-image img{
    max-width: 100%;
    height:auto;
    display: inline-block;
}

#picture{
  width: 300px;
  height: 400px;
}
p{
    text-align: justify;
}
.bg_section{
    background-color: rgb(244, 232, 232);
    padding: 30px;
}
.h_tag{
    color: rgb(10, 215, 215);
}
.hr{
    border:1px solid rgb(10, 215, 215);
    width: 30%;
}
.icon_head{
    display: inline;
}
.icon_head h1{
    display: inline;
    padding-left: 10px;
}

.icon_head i{
    font-size: 4rem;
    color: rgb(236, 37, 73);
}
.Address_cls{
    background-color: aqua;
    padding: 8px 7rem;
    margin-bottom: 7px;
    color: white;
    
}
.Email_cls{
    background-color: aqua;
    padding: 8px 7rem;
    margin-bottom: 7px;
    color: white;
}
.Phone_cls{
    background-color: aqua;
    padding: 8px 7rem;
    margin-bottom: 7px;
    color: white;
}


.slick-container{
  /* Add styles for the carousel items */
  padding: 20px;
  background-color:transparent;
  text-align: center;
}

.slick-slide{
  padding: 20px;
}



/*CSS buttons*/
.grid {
    width: 100%;
    max-width: 1100px;
    margin: auto;
  }
  .button-group {
    margin: 80px auto;
    display: table;
  }
  .button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    color: #333;
    cursor: pointer;
    background-color: black;
    margin: 0 3px;
  }
  .button:hover {
    background-color: black;
    color: #fff;
  }
  .button.is-checked {
    background: green;
    color: #fff;
  }
  .element-item {
    background-color:black;
    padding: 0;
    margin: 10px;
    width: calc(33% - 20px);
    display: inline-block;
  }
  .item-image {
    width: 100%;
    height: 200px;
    padding-bottom: 20px;
    background-size: cover;
  }
  .item-title {
    margin: 0;
    padding: 10px;
    height: 40px;
    overflow: hidden;
  }
  