.about-image img{
    max-width: 100%;
    height:auto;
    display: inline-block;
}
p{
    text-align: justify;
}
.bg_section{
    background-color: darkgray;
    padding: 20px;
}
.h_tag{
    color: rgb(10, 215, 215);
}
.hr{
    border: solid rgb(10, 215, 215);
    width: 30%;
}
.icon_head{
    display: inline;
}
.icon_head h1{
    display: inline;
    padding-left: 20px;
}
.Address_cls{
    background-color: aqua;
    padding: 20px;
    display: inline-block;
}
.Email_cls{
    background-color: aqua;
    padding: 20px;
    display: inline-block;
}
.Phone_cls{
    background-color: aqua;
    padding: 20px;
    display: inline-block;
}